<tr>
	<td><%= current_user.is_doctor ? (booking.patient.try(:email) || '-') : booking.doctor.try(:email) || '-' %></td>
	<% unless current_user.is_doctor %>
		<td><%= booking.doctor.try(:hospital_name) || '-' %></td>
		<td><%= booking.doctor.try(:hospital_mobile_number) || '-' %></td>
	<% end %>
	<td><%= booking.booking_date || '-' %></td>
	<td><%= booking.to_time %></td>
	<td><%= booking.from_time %></td>
	<td><%= booking.status ? 'Accepted' : 'Pending' %></td>
	<% if current_user.is_doctor %>
		<td><%= link_to '<i class="fa fa-check" aria-hidden="true"></i>'.html_safe, change_status_path(booking) %>
		</td>
	<% end %>
</tr>
